In [18]:
# Web Scraping
from bs4 import BeautifulSoup
import requests

# Data manipulation
import pandas as pd
import numpy as np
import json
from datetime import datetime

In [19]:
# will use appended data if there is an error and run different scrapes
appended_data = []

In [20]:
# day and month for ease of code 
day = 21
month = 7
month_malay = 'julai'

In [21]:
# will use the below script if want to run individually

tarikh_col =[]
nama_kluster = []
kategori = []
negeri =[]
daerah = []
kes = []
saring = []  



    
# Use the day and month variable to scrape the required page
# Remember to change the month manually as it is in malay
# change the 0 to a number if month is more than 9 . 
url_main = "https://kpkesihatan.com/2021/0{}/{}/kenyataan-akhbar-kpk-{}-{}-2021-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/".format(month,day,day,month_malay)

r = requests.get(url_main)
soup = BeautifulSoup(r.content, 'html.parser')
data = soup.findAll('table')

tarikh = datetime(2021,month,day)
print(tarikh)
print(len(data))


for i in data[-3].find_all('tr')[1:]:
    x = i.find_all('td')
    tarikh_col.append(tarikh)
    nama_kluster.append(x[1].text)
    kategori.append(x[2].text)
    negeri.append(x[3].text)
    daerah.append(x[4].text)
    kes.append(x[5].text)
    saring.append(x[6].text) 

print()    
print('Success!!!!!')

In [22]:
# this code is to run a loop for multiple days / pages

In [29]:
tarikh_col =[]
nama_kluster = []
kategori = []
negeri =[]
daerah = []
kes = []
saring = []  


for i in range(21,23):
    
    # Go to first page of the money section
    url_main = "https://kpkesihatan.com/2021/07/{}/kenyataan-akhbar-kpk-{}-julai-2021-situasi-semasa-jangkitan-penyakit-coronavirus-2019-covid-19-di-malaysia/".format(i,i)

    r = requests.get(url_main)
    soup = BeautifulSoup(r.content, 'html.parser')
    data = soup.findAll('table')
    
    tarikh = datetime(2021,7,i)
    print(tarikh)
    print(len(data))
    
    
    for i in data[-3].find_all('tr')[1:]:
        x = i.find_all('td')
        tarikh_col.append(tarikh)
        nama_kluster.append(x[1].text)
        kategori.append(x[2].text)
        negeri.append(x[3].text)
        daerah.append(x[4].text)
        kes.append(x[5].text)
        saring.append(x[6].text)

2021-07-21 00:00:00
5
2021-07-22 00:00:00
5

In [30]:

#create new df 
df = pd.DataFrame({'tarikh':tarikh_col,'nama_kluster':nama_kluster, 'kategori_kluster': kategori, 'negeri' : negeri, 'daerah': daerah, 
                   'jumlah_kes':kes, 'jumlah_disaring': saring })
# append into appended df 
appended_data.append(df)

In [31]:
# concat the new data 
df_new = pd.concat(appended_data)

In [32]:
df_new

,tarikh,nama_kluster,kategori_kluster,negeri,daerah,jumlah_kes,jumlah_disaring
0,2021-07-21,Tapak Bina Jalan Langat,Tempat Kerja,Selangor,Klang,40,92
1,2021-07-21,Industri Jalan Jati Kiri,Tempat Kerja,Selangor,Klang,55,115
2,2021-07-21,Industri Anggerik Mokara 47,Tempat Kerja,Selangor,Klang,19,402
3,2021-07-21,Industri Sungai Kayu Ara 32,Tempat Kerja,Selangor,"Klang, Kuala Langat, dan Petaling",77,419
4,2021-07-21,Industri Meranti Utama Satu,Tempat Kerja,Selangor,Sepang,17,338
...,...,...,...,...,...,...,...
57,2021-07-22,Padang Pulut,Komuniti,Terengganu,Dungun,48,158
58,2021-07-22,Jalan GC Satu,Institusi Pendidikan Swasta Berdaftar di Bawah...,Selangor,Sepang,20,77
59,2021-07-22,Jalan Dwitasik Satu,Institusi Pendidikan Swasta Berdaftar di Bawah...,WP Kuala Lumpur,Cheras,9,32
60,2021-07-22,Dah Kempas,Kumpulan Berisiko Tinggi,Kedah,Kuala Muda,57,66
61,2021-07-22,Taman Kok Doh,Kumpulan Berisiko Tinggi,WP Kuala Lumpur,Kepong,9,18

In [33]:
# load old data
df_old = pd.read_csv('cluster_raw.csv')

In [34]:
df_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tarikh            1540 non-null   object
 1   nama_kluster      1540 non-null   object
 2   kategori_kluster  1540 non-null   object
 3   negeri            1540 non-null   object
 4   daerah            1540 non-null   object
 5   jumlah_kes        1540 non-null   object
 6   jumlah_disaring   1540 non-null   object
dtypes: object(7)
memory usage: 84.3+ KB

In [35]:
df_old.tail()

,tarikh,nama_kluster,kategori_kluster,negeri,daerah,jumlah_kes,jumlah_disaring
1535,2021-07-20,Jalan Waterfront,Tempat Kerja,Negeri Sembilan,Port Dickson,42,116
1536,2021-07-20,Pasar Besar Dungun,Tempat Kerja,Terengganu,Dungun,51,159
1537,2021-07-20,Kampung Pukak,Komuniti,Sabah,Tuaran,17,56
1538,2021-07-20,Jalan Bukit Chagar,Kumpulan Berisiko Tinggi,Johor,Johor Bahru,61,113
1539,2021-07-20,Jalan Berhala Merah,Tempat Kerja,WP Kuala Lumpur,Lembah Pantai,12,20

In [36]:
df_old ['tarikh']= pd.to_datetime(df_old['tarikh'])

In [37]:
# concat with old data 
df_all = pd.concat([df_old,df_new]).reset_index(drop=True)

In [38]:
df_all

,tarikh,nama_kluster,kategori_kluster,negeri,daerah,jumlah_kes,jumlah_disaring
0,2021-05-08,Kampung Kebun Sayur,Tempat Kerja,Johor,Muar,29,152
1,2021-05-08,Jalan Batu Maung,Institusi Pendidikan KPM,Pulau Pinang,Barat Daya,12,125
2,2021-05-08,Jalan Mawar 20,Keagamaan,Johor,Johor Bahru,7,119
3,2021-05-08,Keramat,Komuniti,Sabah,Semporna,9,87
4,2021-05-08,Rantau Siantan,Komuniti,Pahang,"Temerloh, Maran, Kuantan, dan Jerantut",15,101
...,...,...,...,...,...,...,...
1659,2021-07-22,Padang Pulut,Komuniti,Terengganu,Dungun,48,158
1660,2021-07-22,Jalan GC Satu,Institusi Pendidikan Swasta Berdaftar di Bawah...,Selangor,Sepang,20,77
1661,2021-07-22,Jalan Dwitasik Satu,Institusi Pendidikan Swasta Berdaftar di Bawah...,WP Kuala Lumpur,Cheras,9,32
1662,2021-07-22,Dah Kempas,Kumpulan Berisiko Tinggi,Kedah,Kuala Muda,57,66
1663,2021-07-22,Taman Kok Doh,Kumpulan Berisiko Tinggi,WP Kuala Lumpur,Kepong,9,18

In [39]:
df_all = df_all.sort_values(by="tarikh")

In [40]:
# print month and day as a reference for the data to be saved as csv
print('Day = ' ,day)
print('Month =', month)

Day =  21
Month = 7

In [41]:
# save to csv 
df_all.to_csv('cluster_raw.csv', index=False)

In [43]:
# save to csv 
df_all.to_csv('cluster_raw_080521-220721.csv', index=False)